@media screen and (max-width: 600px) {
  #popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
      z-index: 1001;
  }

    .high-score {
        display: none;
    }

    #chat-toggle-button {
        display: none;
    }

    #curr-score:before {
        content: "+";
        display: inline-block;
    }

  #popup {
      position: relative;
      top: 0;
      left: 0;
      /*right: 0;*/
      /*bottom: auto;*/
    transform: none;
      width: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 100%;
    z-index: 1002;
      /*min-height: 0;*/
}
  #popup .popup-main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 0;
  }

  #popup.popup-top {
      justify-content: start;
  }

  #chat-box, #chat-box-popup {
      display: none;
  }

  .game-panel-container {
      flex-wrap: wrap;
  }

  .game-panel {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
  }

  .vsep {
    width: 100%;
    margin-top: 20px;
      margin-bottom: 5px;
    height: 1px;
  }

  .map-container {
      display: none;
  }

  .column {
      position: fixed;
      top: -5px;
    left: auto;
    right: -5px;
      bottom: auto;
      width: auto;
  }

  .box {
      padding: 10px;

  }

  .collective-results ul {
      margin: 0;
      margin-top: 5px;
      display: inline-block;
  }


  .nav a {
      display: none;
  }


  .box .self {
      display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
      border: none;
      padding-bottom: 0;
  }

  .score {
      border: none;
      margin: 0;
      padding: 0;
  }

  .box .score {
      margin-top: 0;
  }



  #main-info-box {
      /*position: fixed;*/
    /*top: -5px;*/
    /*left: -5px;*/
    /*right: -5px;*/
      text-align: right;

      background-color: transparent;
      color: red;
      border:none;
      margin: 0;
      padding-bottom: 0;

  }

  /*.total-score {*/
      /*text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;*/
  /*}*/

  #player-name {
      color: white;
      background-color: red;
      margin-right: 9px;
      padding: 1px 5px;

  }
  #player-name.name:after {
      color: transparent;
      display: none;
  }

  #current-results li {
      background-color: blue;
      color: white;
      padding: 1px 5px;
  }
  #main-info-box.toggled .self {
      display: none;
  }

  #main-info-box:not(.toggled) #player-list {
      display: none;
  }

  .controls button:disabled {
      display: none;
  }

  .controls button:not(:disabled) {
      position: fixed;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      background-color: white;
      padding: 10px 20px;
      font-size: 1.2em;
      border-color: red;
      color: red;
      border-width: 2px;
  }

  .right-corner {
      bottom: -5px;
    right: -5px;
    left: -5px;
      top: auto;
  }

  .right-corner .box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
      margin-bottom: 0;
  }

  .leaflet-control-attribution {
      opacity: 0;
  }

  #game-sharing-link {
      right: 0;
      display: none;
  }

#results {
    /*position: fixed;*/
    /*top: -20px;*/
    /*left: 0;*/
    /*right: 0;*/

    background-color: transparent;
    color: blue;
    border: none;
    text-align: right;
    padding-top:0;
}

#popup table {
    font-size: 1.1em;
}

#popup table .player-score-deets {
    display: none;
}

#results .title, #results .deets, #results .distance {
    display: none;
}

#left-column-display.with-results #main-info-box {
    /*display: none;*/
}

}