<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="am·stram·dam" />
    <meta property="og:description" content="«à l’endroit où les rives du fleuve perdent leur mine souriante, où monts et rochers avec leurs ruines fantastiques de vieux bourgs prennent un air hautain, plus sauvage, plus grave et plus majestueux, on découvre, pareille à une légende lugubre de l’ancien temps, la vieille et sombre ville de Bacharach.»" />
    <meta property="og:image" content="[[ url_for('static',filename='background.png') ]]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>am·stram·dam</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="[[ url_for('static',filename='style.css') ]]">
    <link rel="stylesheet" href="[[ url_for('static',filename='style.mobile.css') ]]">
    <link rel="shortcut icon" href="[[ url_for('static',filename='favicon.ico') ]]" type="image/x-icon">
    <script src="https://kit.fontawesome.com/0b60c47224.js" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" nonce="[[ csp_nonce() ]]">
        const datasets = [[ datasets | tojson ]];
        const games = [[ games | tojson ]];
        const appConfig = [[ config | tojson]];
    </script>
    <script src="[[ url_for('static', filename='script/lobby.js') ]]"></script>
</head>
<body>
    <div id="amstramdam-lobby"></div>
</body>
</html>