
.blink-wrapper {
  z-index: 1000;

}

.blink-item {
  position: fixed;
  background-color: blue;
  opacity: 1;
  transition: 0.1s ease-in-out;
  z-index: 10;
}
.off .blink-item {
  opacity: 0;
}

#top {
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
}
#left {
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
}
#right {
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
}
#bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
}

#game-box .box.hidden {
  display: none;
}

#run-timer {
  font-weight: bold;
  font-size: 1.2em;
  color: blue;
}

/* CHAT */
#chat-box {
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

.inner-chat {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

.chat-message {
    text-align: left;
    padding: 5px 10px;
}

.chat-author {
      margin-right: 15px;
    font-style: italic;
}
.chat-author:after {
  content: ":";
  display: inline;
}
.chat-input {
    resize: none;
    border: none;
    border-top: 1px solid lightgray;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.chat-input:focus {
  outline: none;
}
.chat-input:hover {
  border-color: gray;
}

#mapid {
    height: 100%;
    background-color: black;
  cursor: crosshair;
}

#mapid .leaflet-control-zoom, #leaflet .leaflet-control-zoom {
    display: none;
}

.my-custom-pin {
  opacity: 1;
  transition: 0.2s ease-in opacity;
}
.my-custom-pin.hidden {
  opacity: 0;
}

.icon {
  position: relative;
}

.icon-label {
  position: absolute;
  /*top: -10px;
  left: 20px;*/
  white-space: nowrap;
}

.fa-icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.slider {
  height: 5px;
  border-radius: 2px;
}

input[type=range]:hover::-webkit-slider-thumb {
  background: blue !important;
  color: blue;
  border-color: blue;
  -webkit-appearance: none !important;
}


input[type=range]:focus::-webkit-slider-thumb {
  background: blue !important;
  color: blue;
  border-color: blue;
  -webkit-appearance: none !important;
}


.map-container {
  height: 220px;
  width: 100%;
  background-color: black;
  position: relative;
}




#leaflet {
  position: absolute;
  top: 0;
  left: -19px;
  right: -20px;
  bottom: -20px;
}

h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue {
  color: blue;
  margin: 15px 0;
}

#game-sharing-link {
  position: fixed;
  bottom: 0;
  left: 0;
  background: blue;
  color: white;
  z-index: 1000;
  font-family: monospace;
  padding: 2px 10px;
  font-size: 0.9em;
}
#sharing-link {
  font-size: 1.1em;
  font-weight: bold;
}

.game-panel-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 20px;
}


.vsep {
  background-color: lightgray;
  width: 1px;
}


.game-panel {
  text-align: left;
  width: 40%;
}

#player-name[contenteditable="true"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: lightgray;
  content: "\f304"; /**/

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  font-size: 0.7em;
  position: relative;
  left: 5px;
}

/*
.game-panel-container:after {
    display:inline-block;
    width:100%;
    content:'';
}*/

.new-game {
  /*padding-right: 25px;*/
  /*border-right: 1px solid lightgray;*/
}

#game-creator .fieldset {
    margin: 10px 0;
  }

#game-creator .fieldset input[type="number"] {
  width: 40px;
}

.main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  background: black;
}

.main-title {
  margin-bottom: 35px;
}

.nav {
  text-align: left;
  margin-bottom: 15px;
  margin-top: -10px;
  color: blue;
}
.nav a, .nav a:visited, .nav a:active, .nav a:link {
  color: blue;
}

a, a:visited, a:active, a:link {
  color: blue !important;
}

#mask {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  z-index: 1001;
}

#popup {
   position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
  z-index: 1002;
  overflow: hidden;
}

#popup table {
  width: 100%;
  font-size: 1.5em;
}

#popup button {
  margin: 0 auto;
  margin-top: 15px;
}

button {
  font-family: monospace;
}

.column {
  position: fixed;
  top: 20px;
  left: 20px;
    z-index: 1000;
  width: 250px;
}

.game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-corner {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

.progress-container {
  display: inline-flex;
  position: relative;
  padding: 0 10px;
  height: 20px;
  width: 20px;

}
.progress-inner {
  height: 18px;
  width: 18px;

}
#target {
  color: blue;
  font-size: 2em;
  font-weight: bold;
}

.score {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.collective-results ul {
  list-style: none;
  padding: 0;
}

.collective-results .pname {
  margin-right: 10px;
}

.collective-results .pscore {
  font-style: italic;
}

.box .self {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.box .self .name {

}

.box .self .total-score {
  font-size: 2em;
  font-weight: bold;
}

.box .ranking ul {
  list-style: none;
  padding: 0;
}

.box .ranking .pname {
  margin-right: 10px;
}

.box .ranking .pscore {
  font-style: italic;
}



.box {
  background: white;
  /*border-radius: 10px;*/
  padding: 20px;
  text-align: center;
  font-family: monospace;
  margin-bottom: 15px;
  z-index: 1000;
  border: 5px solid blue;
  /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);*/
}

.box .title {
  font-size: 1.1em;
}

.box .distance {
  font-size: 2em;
  font-weight: bold;
}

.box .deets {
  margin-top: 10px;
}

.box .score {
  margin-top: 10px;
  font-size: 2em;
  font-weight: bold;
}