<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="am·stram·dam" />
    <meta property="og:description" content="«à l’endroit où les rives du fleuve perdent leur mine souriante, où monts et rochers avec leurs ruines fantastiques de vieux bourgs prennent un air hautain, plus sauvage, plus grave et plus majestueux, on découvre, pareille à une légende lugubre de l’ancien temps, la vieille et sombre ville de Bacharach.»" />
    <meta property="og:image" content="{{ url_for('static',filename='background.png') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>am·stram·dam</title>



    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/style.mobile.css">
    <link rel="stylesheet" href="./static/timer.css">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
</head>
<body>
<div class="main">
    <div id="game-sharing-link" style="z-index: 1002;">
        <a href="https://github.com/felix-martel/multigeo">À propos</a>
        <span style="color: white; margin-left: 15px;">Demandez l'original : </span>
        <a href="https://www.jeux-geographiques.com/">Jeux-Géographiques.com</a>
    </div>
    <div class="popup-container" id="popup-container">
        <div id="mask">

        </div>
        <div id="popup" class="box popup-top">
            <div class="main-title">
                <h1 class="blue">
                    <span id="title">am·stram·dam</span>
                </h1>
                <div><i>Localiser les villes sur la carte, le plus rapidement possible</i></div>
            </div>
            <div class="game-panel-container">

            <div class="new-game game-panel">
                <h2>Nouvelle partie</h2>
                <form id="game-creator" action="/new" method="post">
                    <div class="fieldset">
                        <label for="map-selector">Carte</label>
                        <select name="map" id="map-selector" onchange="updateView()">
                            {% for dataset in datasets %}
                                {% if dataset.is_sep %}
                                    <option disabled> </option>
                                {% else %}
                                    <option value="{{dataset.name}}">{{ dataset.display}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="fieldset">
                        <label for="n-runs-input">Manches</label>
                        <input type="number" name="runs" id="n-runs-input" value="10">
                    </div>
                    <!--<div class="fieldset">
                        <label for="min-dist-input">Min. distance</label>
                    <input type="number" name="min-dist-input" id="min-dist-input" value="200">
                    </div>-->
                    <div class="fieldset">
                        <label for="duration-input">Durée d'une manche</label>
                    <input type="number" name="duration" id="duration-input" value="10">
                    </div>
                    <div class="fieldset">
                        <label for="wait-input">Durée entre les manches</label>
                    <input type="number" name="wait_time" id="wait-input" value="7">
                    </div>
                    <div class="fieldset">
                        <label for="zoom-checkbox">Partie publique</label>
                        <input id="zoom-checkbox" checked name="public" type="checkbox">
                    </div>
                    <div class="fieldset">
                        <label for="diff-level">Niveau de difficulté</label>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="100" class="slider" id="diff-level" name="difficulty">
                        </div>
                    </div>
                    <button type="submit" id="new-game-button">
                        C'est parti
                    </button>
                </form>
            </div>
                <div class="vsep padded"></div>
            <div class="existing-game game-panel">
                <h2>Rejoindre</h2>
                <div>
                    <i>Entrez le nom d'une partie existante :</i>
                </div>
                <input type="text" id="game-name"  size="15">
                <button id="join-game-button">
                    Rejoindre
                </button>

                    <h4>Parties publiques</h4>
                <div class="game-list">
                    {% for game in games %}
                    <div class="game-item">
                        <a href="/game/{{game.name}}">{{game.name | trim}}</a>
                        <span class="game-infos">{{game.map}}·
                            difficulté {{100*game.difficulty|round|int}}% ·
                            {{game.players}} joueur{% if game.players > 1 %}s{% endif %}
                        </span>
                    </div>
                {% endfor %}
                </div>
            </div>
            </div>

            <div class="map-container">
                <div id="leaflet"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" nonce="{{ csp_nonce() }}">
    function $(identifier){
        return document.getElementById(identifier);
    }
    const LAYERS = {
        default: 'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
        alt: 'https://tiles.wmflabs.org/osm-no-labels/{z}/{x}/{y}.png',
        watercolor: 'http://c.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg',
        terrain: 'http://c.tile.stamen.com/terrain-background/{z}/{x}/{y}.jpg',
        bw: 'http://tile.stamen.com/toner-background/{z}/{x}/{y}.png',
        bwSSL: 'https://stamen-tiles.a.ssl.fastly.net/toner-background/{z}/{x}/{y}.png'
    };
    const defaultView = {
            center: [23.7, 7.6],
            zoom: 1
        };
    const difficultySlider = $("diff-level");

    function getIcon(color="red", extraClass="", opacity=0.8){
        const markerHtmlStyles = `
          background: ${color};
          width: 6px;
          height: 6px;
          display: block;
          border-radius: 3px;`;

        return L.divIcon({
            className: "my-custom-pin",
            iconAnchor: [3, 3],
            html: `<span class="icon ${extraClass}" style="${markerHtmlStyles}"></span>`
        })
    }


     var map = L.map('leaflet').setView(defaultView.center, defaultView.zoom);
     var OSM = L.tileLayer(LAYERS.bwSSL, {zoomControl:  false, });
     OSM.addTo(map);

     /* HANDLE DATA POINTS */
     var pointLayer = L.featureGroup();
    pointLayer.addTo(map);

    const gameSelector = document.getElementById("map-selector");
    function GET(theUrl, callback)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState === 4 && xmlHttp.status === 200)
                callback(JSON.parse(xmlHttp.responseText));
        };
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send(null);
    }

    function updateView(){
        if (pointLayer){
            map.removeLayer(pointLayer);
        }
        const dataset = gameSelector.value;
        GET(`/points/${dataset}`, (data) => {
            pointLayer = L.featureGroup();
            var diff = difficultySlider.value / 100;
            var maxRank = Math.min(10, diff * data.points.length);
            data.points.forEach(point => {
                var extraClass = (point.rank > maxRank) ? "hidden" : "";
                var pointMarker = L.marker(point.coords, {icon: getIcon("blue", extraClass)});
                pointMarker.rank = point.data.rank;
                pointLayer.addLayer(pointMarker);
            });
            const bounds = pointLayer.getBounds();
            pointLayer.addTo(map);
            map.flyToBounds(bounds);

        });
    }

    function updateDifficulty(){
        if (pointLayer){
            var diff = difficultySlider.value / 100;
            var minValue = 0;
            var nLayers = pointLayer.getLayers().length;
            var maxRank = Math.max(10, diff * nLayers);

            pointLayer.eachLayer(point => {
                if (point.rank > maxRank){
                    point._icon.classList.add("hidden");
                } else {
                    point._icon.classList.remove("hidden");
                }
            })
        }
    }
    updateView();
    var gameNameInput = document.getElementById("game-name");
    var gameJoinButton = document.getElementById("join-game-button");
    gameNameInput.addEventListener("keydown", function(event){
        if (event.keyCode === 13){
            event.preventDefault();
            gameJoinButton.click();
        }
    });
    gameJoinButton.addEventListener("click", (e) => {
        e.preventDefault();
        const rawInput = gameNameInput.value;
        const gameName = rawInput.charAt(0).toUpperCase() + rawInput.slice(1).toLowerCase();
        window.location.href = `/game/${gameName}`;
    });
    difficultySlider.addEventListener("change", (e) => {
        updateDifficulty();
    })
</script>
</body>
</html>