<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>(multigeo)</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/timer.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <style>

    </style>
</head>
<body>
<div class="main">
        <div class="column">
    <div class="box">
      <div class="self">
      <div class="name" id="player-name">jacques_1</div>
        <div class="total-score"><span id="total-score">5689</span> pts</div>
      </div>

      <div class="ranking">
        <ul id="player-list">
          <li><span class="pname">jacques_1</span><span class="pscore">6935 pts</span></li>
          <li><span class="pname">charles_1</span><span class="pscore">1435 pts</span></li>
          <li><span class="pname">georges_1</span><span class="pscore">435 pts</span></li>
        </ul>
        <div class="controls">
          <button id="launch">Launch</button>
          <button id="restart">Restart</button>
        </div>
      </div>
    </div>
      <div class="box" id="results" hidden>
      <div id="answer-name" class="title">Dieppe</div>
      <div class="distance"><span id="main-disp-dist">0</span> km</div>
      <div class="deets">
        <div class="score-dist"><i id="disp-dist">0</i> km = <i id="disp-score-dist">0</i> pts</div>
        <div class="score-time"><i id="disp-time">0</i>s = <i id="disp-score-time">0</i> pts</div>
      </div>

      <div class="score">
          <span id="curr-score">0</span> pts
      </div>
    </div>
    </div>

    <div class="right-corner" id="game-box" hidden>
        <div class="game-info box">
            <span id="target"></span>
            <div class="progress-container">
                <div class="progress-inner">
                <div class="wrapper" data-anim="base wrapper">
                  <div class="circle" data-anim="base left"></div>
                  <div class="circle" data-anim="base right"></div>
                </div>

                </div>
            </div>
        </div>
    </div>

    <div id="mapid"></div>
</div>

<script type="text/javascript" charset="utf-8">
    function getIcon(color="red"){
        const markerHtmlStyles = `
          background-color: ${color};
          width: 10px;
          height: 10px;
          display: block;
          border-radius: 5px;`;

        return L.divIcon({
            className: "my-custom-pin",
            iconAnchor: [5, 5],
            html: `<span style="${markerHtmlStyles}" />`
        })
    }
    var hintContainer = document.getElementById("target");
    var playerName = document.getElementById("player-name");
    var playerList = document.getElementById("player-list");
    var scorer = document.getElementById("total-score");
    var gameLauncher = document.getElementById("launch");
    var gameBox = document.getElementById("game-box");
    var gameLaunched = false;
    var hasAnswered = false;

    var PLAYER;
    var PLAYERS = [];

    var altLayer = 'https://tiles.wmflabs.org/osm-no-labels/{z}/{x}/{y}.png';
    var defaultLayer = 'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png'
     var map = L.map('mapid').setView([46.758162, 2.812324], 6);
     var OSM = L.tileLayer(altLayer, {
	maxZoom: 6,
     minZoom: 6,
         zoomControl: false,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
        });
     OSM.addTo(map);

     function updatePlayerList(){
         playerList.innerHTML = "";
         PLAYERS.forEach(p => {
             playerList.innerHTML += `<li><span class="pname">${p}</span><span class="pscore">0 pts</span></li>`
         })
     }


    console.log("Script loaded...");
        var player = -1;
        var socket = io();
        socket.on('connect', function() {
            console.log("Emitting...");
            socket.emit('connection', {data: 'I\'m connected!'});
        });
        socket.on('disconnect', function() {
            console.log("Disconnecting...");
            socket.emit("disconnection");
        })
        socket.on("log", function(data){
            console.log(data);
        });
        socket.on("game-launched", (data) => {
            console.log("Received: game launched");
            gameLaunched = true;
            gameLauncher.disabled = true;
        });
        socket.on("marker", function(data){
            var name = data.name || "";
            var color = data.color || "red";
            addMarker(data.lat, data.lon, name, color)
        });
        socket.on("target", (data) => {
            target.innerHTML = data.hint;
            gameBox.hidden = false;
        });
        socket.on("score", (data) => {
            console.log(data);
            let infobox = `+${data.score} points`;
            addMarker(data.answer.lat, data.answer.lon, "", "blue");
            L.polyline(
                [
                    [data.guess.lat, data.guess.lon],
                    [data.answer.lat, data.answer.lon]
                ]).addTo(map);
            let currScore = parseInt(scorer.innerHTML) + data.score;
            scorer.innerHTML = data.score;
            console.log("writing data");
            document.getElementById("answer-name").innerHTML = data.answer.name;
            document.getElementById("main-disp-dist").innerHTML = Math.round(data.dist);
            document.getElementById("disp-dist").innerHTML = Math.round(data.dist);
            document.getElementById("disp-score-dist").innerHTML = Math.round(data.sd);
            document.getElementById("disp-time").innerHTML = Math.round(data.delta * 100) / 100;
            document.getElementById("disp-score-time").innerHTML = Math.round(data.st);
            document.getElementById("curr-score").innerHTML = data.score;
            document.getElementById("results").hidden = false;
            setTimeout(() => {
                document.getElementById("results").hidden = true;
            }, 5000);

        });
        socket.on("init", (data)=> {
            console.log(data);
            PLAYER = data.player;
            PLAYERS = data.players;
            playerName.innerHTML = PLAYER;
            updatePlayerList();
            //playerList.innerHTML = PLAYERS.join(", ");
        });
        socket.on("new-player", (data) => {
            console.log("Welcome", data.player);
            if (!PLAYERS.includes(data.player)){
                PLAYERS.push(data.player);
                updatePlayerList();
                //playerList.innerHTML = PLAYERS.join(", ");
            }
        });
        socket.on("player-left", (data) => {
            console.log("Bye,", data.player);
            const i = PLAYERS.indexOf(data.player);
            if (i > -1){
                PLAYERS.splice(i, 1);
                updatePlayerList();
                //playerList.innerHTML = PLAYERS.join(", ");
            }
        });
        socket.on("run-end", (data) => {
            console.log("Got results!");
            clearMap();
            addMarker(data.answer.lat, data.answer.lon, "", "green");
            data.results.forEach(rec => {
                let color = (rec.player === PLAYER) ? "red" : "blue";
                addGuess(rec.guess, rec.answer, rec.player, color);
            });
        });
    gameLauncher.addEventListener("click", (e) => {
        e.preventDefault();
        if (!gameLaunched){
            socket.emit("launch");
        }
    });
     function addMarker(lat, lon, name="", color="red", openPopup=false){
         var marker = L.marker([lat, lon], {icon: getIcon(color)}).addTo(map);
         if (name.length > 0){
             let pop = marker.bindPopup(name);
             if (openPopup){
                 pop.openPopupe();
             }
         }
         return marker;
     }
     function addGuess(guess, answer, name, color="red", popup=true){
         //addMarker(answer.lat, answer.lon, "", "blue");
        L.polyline(
            [
                [guess.lat, guess.lon],
                [answer.lat, answer.lon]
            ]).addTo(map);
        let marker = addMarker(guess.lat, guess.lon);
        if (popup){
            marker.bindPopup(name).openPopup();
        }
     }
    function clearMap(event){
        map.eachLayer(function (layer) {
            if (layer !== OSM){
                map.removeLayer(layer);
            }
        });
    }
    function sendMessage(){
        let data = {};
        socket.emit("json", {data: data});
    }
    function onMapClick(e) {
        if (hasAnswered){
            return
        }
        let coords = e.latlng;
        console.log(coords);
        let data = {
                lon: coords.lng,
                lat: coords.lat,
                player: PLAYER
            };
        console.log(PLAYER);
        console.log(data);
        addMarker(coords.lat, coords.lng);
        socket.emit("guess", data);
        hasAnswered = true;
    }

    map.on('click', onMapClick);
    </script>
</body>
</html>